h1,h2,h3{
	text-align: center;
	text-transform: capitalize;
}
table{
	text-align: center;
	border-collapse: collapse;
	margin: auto;
}
tr{
    border: solid 1px #222;
}
td,th{
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
}
label{
	margin-right: 3px;
}

#createbtn-wrap, #editform-wrap{
	text-align: center;
	margin-top: 10px;
}